body {
   background-color:#F5DA40;
}

h1{
   font-size;24px;
}

p{
   font-size;40px;
}

#nature {
   background-color:#40B9DE;
   border:1px solid green;
}

.one {
   background-color:red;
}